html{
    background-image: url('images/58a508023db93aeb299f88b8474d867a.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    animation: 1s fadeInOpacity;
    background-blend-mode: lighten;
}

body{
    
    color: white;    
}

html, body {margin: 0; height: 100%; overflow: hidden}

.navbar a{
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    text-align: center;
    flex-direction: column;
    
}

.container h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    padding-top: 20%;
}

.border{
    border: 2px solid white;
    padding: 30px 100px 50px 100px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.input-form{
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-size: 1em;
}

.confirm{
    background-color: white;
    color: rgb(0, 113, 206);
    border: none;
    padding: 10px;
    margin-top: 40px;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.confirm:hover{
    background-color: rgb(0, 113, 206);
    color: white;
}

.form label{
    font-weight: bold;
}

#message{
    height: 100px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    padding: 5px;
}

@keyframes fadeInStart {
    0% {
      transform: translateY(100%);
      opacity: 0;
      filter: blur(10px);
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  .fadeInStart-animation {
    animation: 1s fadeInStart;
  }

  @keyframes fadeInOpacity {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgb(0, 0, 0, 100);
    }
  }