body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.navbar {
    display: flex;
    margin: 20px 40px 20px 40px;
    font-size: 20px;
    justify-content: space-between; 
    align-items: center;        
}

.nav-title{
    display: inline;
    font-weight: bold;
}

.navbar a{
    text-decoration: none;
    margin-right: 10px;
}

.navbar li{
    list-style: none;
}

.nav-links{
    display: flex;
    gap: 20px;
}

.navbar a:hover{
    text-decoration: underline;
}

::-webkit-scrollbar {
    display: none;
}

