html{
    background-image: url('images/44528deb75cea4c823a955c4029ef3b7.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
}

body{
    color: white;
}

.navbar a{
    color: white;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 100px 20px 100px;
    
}

.project-container h1{
    font-family: "Meie Script", cursive;
    font-size: 80px;
}

@media (max-width: 1024px) {
    .project-container{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    
    .project-container h1{
        font-size: 60px;
        text-align: center;
    }

    .content{
        width: 25%;
    }
}

@media (max-width: 1400px) {

    .cont-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
    }
    
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.content p{
    padding-left: 10%;
    overflow-wrap: break-word;
}

.image{
    max-width: 100%;
    
    border-radius: 20px;
}

.button{
    margin-top: 50px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
    text-decoration: none;
    margin-bottom: 20px;
}

.button:hover{
    cursor: pointer;
    animation: fade 0.5s forwards;
}

@keyframes fade {
    from {background-color: white;}
    to {
        background-color: rgb(75, 75, 75);
        color: white;
    }
}

.title{
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
    font-family: "Meie Script", cursive;
}

.meie-script-regular {
    font-family: "Meie Script", cursive;
    font-weight: 400;
    font-style: normal;
  }

  footer{
    color: white;
  }

.arrows{
    display: flex;
    justify-content: space-between;
    margin: 0 100px 50px 100px;

}

.arrows button{
    color: white;
    background-color: rgba(163, 163, 163, 0.342);
    border: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 40%;
    padding: 10px 17px 10px 17px;
}

.arrows button:hover{
    animation: fadeIn 0.5s forwards;    
}

@keyframes fadeIn {
    to{
        background-color: rgba(163, 163, 163, 0.7);
    }
}

@media (max-width: 1024px) {
    .arrows{
        margin: 0 20px 50px 20px;
    }

    .arrows button{
        font-size: 20px;
        padding: 5px 10px 5px 10px;
    }
}

@keyframes fadeInStart {
    0% {
      transform: translateY(100%);
      opacity: 0;
      filter: blur(10px);
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
  .fadeInStart-animation {
    animation: 1.5s fadeInStart;
  }