html{
    height: 100vh;
    background: #000000;
    background: linear-gradient(145deg,rgba(0, 0, 0, 1) 0%, rgba(59, 59, 59, 1) 100%);
}

body{
    color: white;
}

.navbar a{
    color: white;
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 100px 20px 100px;
    
}

.project-container h1{
    font-family: "Meie Script", cursive;
    font-size: 80px;
}

@media (max-width: 1024px) {
    .project-container{
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    
    .project-container h1{
        font-size: 60px;
        text-align: center;
    }

    .content{
        width: 25%;
    }
}

@media (max-width: 1400px) {

    .cont-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
    }
    
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.content p{
    padding-left: 10%;
    overflow-wrap: break-word;
}

.image{
    max-width: 100%;
    
    border-radius: 20px;
}

.button{
    margin-top: 50px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
    text-decoration: none;
    margin-bottom: 20px;
}

.button:hover{
    cursor: pointer;
    animation: fade 0.5s forwards;
}

@keyframes fade {
    from {background-color: white;}
    to {
        background-color: rgb(75, 75, 75);
        color: white;
    }
}

.title{
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
    font-family: "Meie Script", cursive;
}

.meie-script-regular {
    font-family: "Meie Script", cursive;
    font-weight: 400;
    font-style: normal;
  }

  footer{
    color: white;
  }