body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3a3a3a;
}

.wrapper {
    display: flex;             
    flex-direction: row;      
    align-items: center;      
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
}

#canvas {
    border: 1px solid #000;
    display: block;
}

.header {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}
.header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 1px;
}
.header h2 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 400;
    opacity: 0.8;
}

.controls button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 70px 10px 20px 10px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #a382ff;
}

.controls button:hover {
    background-color: #c8b0ff;
}

.selector button:hover {
    background-color: #e2e2e2;
}

.control-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.control-group input[type="number"] {
    width: 60px;
    padding: 5px;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.control-group input[type="text"]{
    width: 170px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.control-group label {
    margin-top: 20px;
    margin-bottom: 5px;
}

.control-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}